.backdrop {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transition: opacity var(--anim-slow), visibility var(--anim-slow);
	z-index: 2;
	overflow-y: scroll;
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-wrapper {
	width: 450px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	z-index: 3;

	@media screen and (max-width: 479px) {
		max-width: 95%;
	}
	
	@media screen and (min-width: 480px) {
		width: 450px;
	}

	@media screen and (min-width: 1200px) {
		width: 528px;
	}
	@media screen and (max-width: 1199px) {
			text-align: center;
	}
}

.backdrop__close-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 8px;
	right: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--main-bg-color);
	transition: background-color var(--anim-fast);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

