.clients-list {
	display: flex;
	margin-top: 50px;
}

.clients-list__item:not(:last-child) {
	margin-right: 30px;
}

.clients-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--socials-icon-color);
	border-radius: 4px;
	color: var(--socials-icon-color);
	transition: color var(--anim-fast), border var(--anim-fast);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
		cursor: pointer;
		color: var(--accent-color);
	}
}

.clients-list__item__icon {
	fill: currentColor;
}

.clients__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}