.features-list{

	@media screen and (min-width: 768px){
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		margin-top: -15px;
		margin-bottom: -15px;
	}
}

.features-list__item {
	list-style-type: none;
	// width: 450px;
	max-width: 450px;	

	@media screen and (min-width: 768px) {
		width: 354px;
		margin-left: 15px;	
		margin-right: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}

.features-list__icon-area {
	height: 120px;
	background-color: var(--third-bg-color);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	max-width: 450px;

	@media screen and (max-width: 767px) {
		
	}
	@media screen and (min-width: 768px) {
		width: 354px;
	}	
	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}

@media screen and (max-width: 767px) {
	.features-list__item:not(:last-child){
		margin-bottom: 30px;
	}
	
}

.features-list__item-title {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;

	@media screen and (min-width: 768px) {
		text-align: left;
	}

	@media screen and (min-width: 1200px){
		text-align: left;
	}
}

.features-list__item-text {
	line-height: 1.71;
	color: var(--secondary-font-color);
	margin-top: 10px;
}

