.subscribtion__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-bg-color);
	margin-bottom: 20px;
	@media screen and (max-width: 1199px) {
		text-align: center;
	}
}

.subscribtion__mail {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	width: 450px;
	padding: 15px 16px;
	margin: 0;
	outline: transparent;

	@media screen and (max-width: 479px) {
		width: 100%;
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
	}	

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		
	}
}

.subscribtion {	
	@media screen and (min-width: 1200px) {
		margin-left: 93px;
	}

	@media screen and (max-width: 1199px) {
		margin-top: 60px;
	}
}

.subscribtion__btn-wrapper {

	@media screen and (min-width: 1200px) {
		margin-left: 12px;
	}	
}

.subscribtion__btn {
	width: 200px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--sec-bg-font-color);
	background-color: var(--accent-color);
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	padding: 10px 28px;
	transition: background-color var(--anim-fast);
	display: flex;
	align-items: center;

	&:hover,
	&:focus {
		background-color: var(--hero-btn-accent);
	}

	@media screen and (max-width: 1199px) {
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
}

.sub-icon {
	margin-left: 10px;
}

.subscribtion__form {	
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 479px) {
		text-align: center;
	}
}

.footer-group-wrapper{
@media screen and (min-width: 768px)  {
	display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	justify-content: center;
}
}