.hero {
	background-color: var(--secondary-bg-color);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))),
		url(../../images/hero-images/hero-bg-sm.jpg);
	background-image: -o-linear-gradient(top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../../images/hero-images/hero-bg-sm.jpg);
	background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../../images/hero-images/hero-bg-sm.jpg);
		background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../../images/hero-images/hero-bg-sm.webp) 1x );
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 118px;
	padding-bottom: 118px;
	height: 400px;

	@media screen and (min-width: 1200px) {
		height: 600px;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}
 
@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-images/hero-bg-sm2x.jpg);
		background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		-webkit-image-set(url(../../images/hero-images/hero-bg-sm2x.webp) 2x);
	}
}

// Tablet background

@media screen and (min-width: 768px) {
	.hero {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))),
			url(../../images/hero-images/hero-bg-md.jpg);
		background-image: -o-linear-gradient(top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero-images/hero-bg-md.jpg);
		background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero-images/hero-bg-md.jpg);
		background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		-webkit-image-set(url(../../images/hero-images/hero-bg-md.webp) 1x);
	}
}

@media screen and (min-width: 768px) {

	@media screen and (min-device-pixel-ratio: 2),
	screen and (-webkit-min-device-pixel-ratio: 2),
	screen and (-o-min-device-pixel-ratio: 2/1),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))),
				url(../../images/hero-images/hero-bg-md2x.jpg);
			background-image: -o-linear-gradient(top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../../images/hero-images/hero-bg-md2x.jpg);
			background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../../images/hero-images/hero-bg-md2x.jpg);	
			background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			-webkit-image-set(url(../../images/hero-images/hero-bg-md2x.webp) 2x);
		}
	}
}

// Desktop background

@media screen and (min-width: 1200px) {
	.hero {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))),
			url(../../images/hero-images/hero-bg-lg.jpg);
		background-image: -o-linear-gradient(top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero-images/hero-bg-lg.jpg);
		background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero-images/hero-bg-lg.jpg);
		background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		-webkit-image-set(url(../../images/hero-images/hero-bg-lg.webp) 1x);

	}
}

@media screen and (min-width: 1200px) {

	@media screen and (min-device-pixel-ratio: 2),
	screen and (-webkit-min-device-pixel-ratio: 2),
	screen and (-o-min-device-pixel-ratio: 2/1),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))),
				url(../../images/hero-images/hero-bg-lg2x.jpg);
			background-image: -o-linear-gradient(top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../../images/hero-images/hero-bg-lg2x.jpg);
			background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../../images/hero-images/hero-bg-lg2x.jpg);
			background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			-webkit-image-set(url(../../images/hero-images/hero-bg-lg2x.webp) 2x);
		}
	}
}

.hero__title {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.61;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--sec-bg-font-color);
	
	margin: 0px auto;
	margin-bottom: 30px;

	@media screen and (max-width: 479px) {
		max-width: 360px;
	}
	@media screen and (min-width: 480px) {
		width: 360px;
	}

	@media screen and (min-width: 1200px) {
		width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
}

.hero--content {
	text-align: center;
}

.hero-btn {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	display: block;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--sec-bg-font-color);
	background-color: var(--accent-color);
	cursor: pointer;
	margin: 0px auto;
	min-width: 200px;
	height: 50px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: background-color var(--anim-fast), border var(--anim-fast);


	&:hover,
	&:focus {
		background-color: var(--hero-btn-accent);
		border: 1px solid var(--accent-color);
	}
}

