.mobile-menu{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	padding: 48px 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	transform: translateX(100%);
	transition: transform var(--anim-fast);
	z-index: 1;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
.mobile-menu.is-open{
	opacity: 1;
	transform: translateX(0);
}

.mobile-menu__list-item:not(:last-child){
  margin-bottom: 32px;
}

.mobile-menu__link{
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.02em;
	color: inherit;
	transition: color var(--anim-fast);
	&:hover,
	&:focus{
		color: #2196F3;
		scale: (2);
		
	}
}

.mobile-group{
	margin-top: auto;
}

.mobile-menu__contacts-item:not(:last-child){
margin-bottom: 32px;
}

.mobile-menu__contacts-info{
	font-weight: 500;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.02em;
	color: #757575;
	transition: 300ms;
	
	&:hover,
	&:focus{
		font-size: 34px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		color: #2196F3;
	}
}

.mobile-menu__socials{
	display: flex;
	flex-wrap: wrap;
	margin-top: 64px;
}

.mobile-menu__socials-link {
	display: block;
	padding-right: 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;
	color: #2196F3;
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}


.mobile-menu__socials-item:not(:last-child){
	margin-right: 10px;
}


.mobile-menu__socials-item:last-child .mobile-menu__socials-link {
	border: none;
}
