.mobile-btn{
	display: block;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: transparent;
	outline: transparent;
	margin-left: auto;
	z-index: 2;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.mobile-btn:hover,
.mobile-btn:focus{
	.menu-btn__open,
	.menu-btn__close{
		fill:var(--accent-color) ;
	}
}

.menu-btn__open{
	opacity: 1;
	transition: opacity var(--anim-fast), fill var(--anim-fast);;
}
.menu-btn__close{	
	opacity: 0;
	transition: opacity var(--anim-fast), fill var(--anim-fast);;
}

.mobile-btn.is-active .menu-btn__open{
 opacity: 0;
}
.mobile-btn.is-active .menu-btn__close {
	opacity: 1;
}
