.portfolio-list {
	list-style-type: none;	


	@media screen and (max-width: 767px) {
		margin-top: 40px;
	}

	@media screen  and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-left: -15px;
		margin-right: -15px;
	}

	@media screen and (min-width: 1200px){
		justify-content: center;
	}	
}


.portfolio-list__card {
	display: block;
	transition: box-shadow var(--anim-fast);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
		cursor: pointer;
	}
}


.portfolio-img {
	@media screen and(min-width:768px) {
		width: 354px;
		height: 294px;
	}

	@media screen and(min-width:1200px) {
		width: 370px;
		height: 294px;
	}
}





.portfolio-list__item {
	
	@media screen and(max-width: 479px) {
		max-width: 450px;
	}
	

	@media screen and (max-width: 767px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 768px){
	width: 354px;
	margin-left: 15px;
	margin-right: 15px;
	
	}	
		
	@media screen and (min-width: 1200px) {
		width: 370px;	
	}
}

.portfolio-list__item:last-child{
	@media screen and (max-width: 767px) {
		margin-bottom: 0px;
	}
}



@media screen and (min-width: 768px){
	.portfolio-list__item:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.portfolio-list__item:nth-child(3n) {
		margin-right: 0px;
	}
}

@media screen and (min-width: 1200px){
	.portfolio-list__item:nth-last-child(-n + 3) {
		margin-bottom: 0px;
	}

}

.portfolio-list__card {
	text-decoration: none;
}

.portfolio-list__img-wrapper {
	position: relative;
	overflow: hidden;
}

.portfolio-list__project-descr {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--sec-bg-font-color);
	background-color: rgba(33, 150, 243, 0.9);
	padding: 63px 24px;
	transform: translateY(101%);
	transition: transform var(--anim-fast);

	.portfolio-list__item:hover & {
		transform: translateY(0%);
	}
	
	.portfolio-list__card:focus & {
		transform: translateY(0%);
	}
	@media screen and (max-width: 479px) {
		font-size: 12px;
	}



}

.portfolio-list__txt {
	padding: 20px 24px;
	border-left: 1px solid var(--team-txt-color);
	border-right: 1px solid var(--team-txt-color);
	border-bottom: 1px solid var(--team-txt-color);

}

.portfolio-list--txt{
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-bottom: 56px;
	}
}

.portfolio-list__card-name {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-font-color);
	margin-bottom: 4px;
}

.portfolio-list__project-type {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--secondary-font-color);
}