.portfolio-filter {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	@media screen and (max-width: 767px) {
		margin-bottom: -15px;
	}

	@media screen and (min-width: 768px){
		justify-content: center;
		margin-bottom: 30px;

	}

	@media screen and (min-width: 1200px){
	
	margin-bottom: 50px;

	}
}

.portfolio-filter__btn {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-font-color);
	padding: 6px 22px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: color var(--anim-fast), box-shadow var(--anim-fast),
	background-color var(--anim-fast);

	&:hover,
	&:focus {
		color: var(--main-bg-color);
		background-color: var(--accent-color);
		cursor: pointer;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}

.portfolio-filter__item{
	
	margin-right: 8px;

	@media screen and (max-width: 767px) {
		margin-bottom: 15px;
	}
}

	


