.team {
	background-color: var(--third-bg-color);
	text-align: center;
}

.team__title {
	font-weight: bold;
	font-size: 28px;
	line-height: 1.17;
	letter-spacing: 0.03em;

	@media screen and (min-width:768px) and(max-width:1199px) {
		margin-bottom: 30px;
	}

	@media screen and(min-width:1200px) {
		font-size: 36px;
		line-height: 1.16;
	}
}

.team-list {
	margin-top: 30px;
	list-style-type: none;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-top: -30px;
		margin-left: -15px;
		margin-right: -15px;
	}
	@media screen and (min-width: 1200px) {
		margin-top: 50px;
	}
	
}

.team-list__content-wrapper {
	padding-top: 30px;
	padding-bottom: 24px;

	@media screen and (min-width: 1200px) {
		padding-bottom: 30px;
	}
}

.team-list__card {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background: var(--main-bg-color);
	padding-bottom: 30px;

	@media screen and (max-width:1199px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-top: 30px;
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media screen and (min-width: 1200px) {
	.team-list__card:not(:last-child){
		margin-right: 30px;
	}
}

.team-list__card-img{
	@media screen and(min-width:768px) {
		width: 354px;
		height: 374px;
	}
	
	@media screen and(min-width:1200px) {
		width: 270px;
		height: 260px;
	}
}

.team-list__card {
	padding-bottom: 0px;
}

.team-list__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.team-list__position {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--secondary-font-color);
	margin-top: 10px;
}

.team-list__socials {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

.team-list__socials-link {
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--sec-bg-font-color);
	transition: background-color var(--anim-fast),
	color var(--anim-fast);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		color: var(--sec-bg-font-color);
	}
}

.team-list__socials-item:not(:last-child) {
	margin-right: 10px;
}

.team-list__socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.team-list__socials-icon {
	fill: var(--socials-icon-color);

	.team-list__socials-link:hover &,
	.team-list__socials-link:focus & {
		fill: currentColor;
		transition: fill var(--anim-fast);
	}
}