body {
	font-family: var(--main-font);
	color: var(--main-font-color);
	background-color: var(--main-bg-color);
	font-size: 14px;
	letter-spacing: 0.03em;
}

// Common reset
@import "./reset";

// Utils
@import "../utils/utils";
